$gray-base: #ecf0f1;
$amethyst: #9b59b6;
$peterblue: #3498db;
$emerald: #2ecc71;

$bodybg: $gray-base;
$headerBg: $amethyst;
$viewBg: $peterblue;
$headerText: $gray-base;
$parrallaxPaneBg: $emerald;

$navHeight: 60px;
$headerHeight: 60px;
